<form{{ attributes }}>
    <div class="news-wraper">
        <div class="news-heading">
            {{ element.elements.processed_text }}
        </div>
        <div class="newsletter-form-block">
            {{ element.elements.email }}
            <div class="form-input-field">
                {{ element.elements.actions }}
            </div>
        </div>
    </div>
</form>