@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #3A3A3A;
  text-decoration: none !important; }

a:hover {
  color: #3A3A3A; }

.btn-blue {
  padding: 15px 20px;
  font-size: 15px;
  background: #BE3A53;
  color: #fff;
  border-radius: 50px; }

/* Start Main Navigation */
.header-menu {
  border-top: 1px ridge;
  border-bottom: 1px solid black;
  padding: 3px 0 3px; }
  @media screen and (max-width: 991px) {
    .header-menu {
      border-top: none;
      padding: 0; } }
  @media screen and (max-width: 991px) {
    .header-menu ul.nav {
      margin: 0;
      display: none;
      position: fixed;
      overflow: auto;
      background-color: #333333;
      padding: 20px 20px 20px 10px;
      top: 0px;
      left: 0px;
      bottom: 0px;
      z-index: 999;
      text-align: left;
      transition: all 2s ease-in-out; }
      .header-menu ul.nav.active {
        opacity: 1;
        right: 15px;
        display: block;
        animation: fade .5s; } }
  @media screen and (max-width: 991px) {
    .header-menu ul.nav li {
      display: block;
      margin: 0;
      padding-right: 3.5rem;
      width: 100%;
      transition: background-color .5s; } }
  .header-menu ul.nav li.active {
    color: #bf3654; }
  .header-menu ul.nav li a {
    color: #3A3A3A;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem 1rem;
    letter-spacing: 0.1rem; }
    .header-menu ul.nav li a.is-active {
      color: #bf3654; }
    .header-menu ul.nav li a:hover {
      color: #fab915; }
    @media screen and (max-width: 991px) {
      .header-menu ul.nav li a {
        color: #ffffff;
        position: relative;
        display: block;
        padding: 10px 15px;
        transition: all 1s; } }
  .header-menu ul.nav span {
    color: #3A3A3A;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem 1rem;
    letter-spacing: 0.1rem; }
    @media screen and (max-width: 991px) {
      .header-menu ul.nav span {
        color: #ffffff;
        padding: 10px 15px; } }
  @media screen and (max-width: 991px) {
    @keyframes fade {
      from {
        transform: translateX(-200px);
        opacity: 0; }
      to {
        transform: translateX(0px);
        opacity: 1; } } }

/* End Main Navigation */
/* Mobile Menu Toggle Button CSS Start Here */
@media screen and (max-width: 991px) {
  .top-header .hamburger {
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    padding: 15px;
    margin: 0;
    z-index: 10;
    background-color: #ffffff;
    transition: opacity .3s; }
    .top-header .hamburger:hover {
      cursor: pointer; }
    .top-header .hamburger .line {
      width: 37px;
      height: 2px;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
      border-radius: 5px; }
      .top-header .hamburger .line:nth-child(1) {
        background-color: #333333; }
      .top-header .hamburger .line:nth-child(2) {
        background-color: #333333; }
      .top-header .hamburger .line:nth-child(3) {
        background-color: #333333; }
    .top-header .hamburger.isactive {
      background-color: #333333;
      border: none;
      left: auto;
      top: 0px;
      right: 0px;
      padding: 15px;
      position: fixed;
      margin: 0;
      z-index: 3000; }
      .top-header .hamburger.isactive .line:nth-child(2) {
        opacity: 0;
        background-color: #ffffff; }
      .top-header .hamburger.isactive .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
        background-color: #ffffff; }
      .top-header .hamburger.isactive .line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        background-color: #ffffff; } }

/* Mobile Menu Toggle Button CSS End Here */
.top-header .header-top {
  display: flex;
  align-items: center;
  padding: 9px 0 28px; }
  @media screen and (max-width: 767px) {
    .top-header .header-top {
      padding: 0; } }
  .top-header .header-top .site-logo {
    display: flex;
    justify-content: center;
    padding: 10px 0; }
    @media screen and (max-width: 767px) {
      .top-header .header-top .site-logo a img {
        max-width: 200px; } }
  .top-header .header-top .social-img {
    display: flex;
    margin-top: 28px;
    justify-content: flex-start; }
    @media screen and (max-width: 767px) {
      .top-header .header-top .social-img {
        justify-content: center; } }
  .top-header .header-top .search-sec {
    display: flex;
    margin-top: 17px;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .top-header .header-top .search-sec {
        display: none; } }
    .top-header .header-top .search-sec form {
      display: flex;
      align-items: center; }
    .top-header .header-top .search-sec .js-form-type-search input[type=search] {
      padding: 10px 32px;
      width: 100%;
      background-color: #f5f5f5;
      border: 0px;
      border-radius: 33px;
      font-size: 13px; }
    .top-header .header-top .search-sec .form-actions input[type=submit] {
      background-size: 15px;
      font-family: 'FontAwesome';
      background-position: 100%;
      background-color: #f5f5f5;
      border: 0px;
      border-radius: 33px;
      padding: 28px 10px;
      font-size: 13px;
      margin-left: 10px;
      transform: rotate(90deg);
      color: #C2405C; }
  .top-header .header-top ul.actions {
    display: flex;
    justify-content: start; }
    @media screen and (max-width: 767px) {
      .top-header .header-top ul.actions {
        padding-left: 15px; } }
    .top-header .header-top ul.actions li a {
      margin-right: 10px;
      text-decoration: none; }
    .top-header .header-top ul.actions li a.fa-facebook-f {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #888;
      padding: 10px 13px;
      color: #507CBD; }
      .top-header .header-top ul.actions li a.fa-facebook-f:hover {
        background-color: #507cbe;
        color: #ffffff; }
    .top-header .header-top ul.actions li a.fa-twitter {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #888;
      padding: 10px 10px;
      color: #2BB3F0; }
      .top-header .header-top ul.actions li a.fa-twitter:hover {
        background-color: #00abef;
        color: #ffffff; }
    .top-header .header-top ul.actions li a.fa-google {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #888;
      padding: 10px 10px;
      color: #D73825; }
      .top-header .header-top ul.actions li a.fa-google:hover {
        background-color: #D73825;
        color: #ffffff; }
    .top-header .header-top ul.actions li a.fa-linkedin-in {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #888;
      padding: 10px 10px;
      color: #668FC7; }
      .top-header .header-top ul.actions li a.fa-linkedin-in:hover {
        background-color: #668FC7;
        color: #ffffff; }
    .top-header .header-top ul.actions li a.fa-youtube {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0 0 2px #888;
      padding: 10px 10px;
      color: #D23523; }
      .top-header .header-top ul.actions li a.fa-youtube:hover {
        background-color: #D23523;
        color: #ffffff; }
    .top-header .header-top ul.actions li span {
      display: none; }

/* end of header section */
/* Main Slider Start here */
.main-slider .flexslider {
  border: none;
  margin: 0 !important; }
  .main-slider .flexslider .text-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    font-size: 0;
    z-index: 5;
    padding: 30px 15px; }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      .main-slider .flexslider .text-slider {
        padding: 0; } }
    @media screen and (max-width: 767px) {
      .main-slider .flexslider .text-slider {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: inherit;
        bottom: inherit;
        right: inherit;
        padding: 0; } }
    .main-slider .flexslider .text-slider .slider-des {
      display: inline-block;
      vertical-align: middle;
      margin-top: 40px; }
      @media screen and (max-width: 991px) and (min-width: 768px) {
        .main-slider .flexslider .text-slider .slider-des {
          margin-top: 45px; } }
      @media screen and (max-width: 767px) {
        .main-slider .flexslider .text-slider .slider-des {
          margin-top: 20px; } }
      .main-slider .flexslider .text-slider .slider-des .text-title {
        font-size: 90px;
        color: white; }
        @media screen and (max-width: 991px) and (min-width: 768px) {
          .main-slider .flexslider .text-slider .slider-des .text-title {
            font-size: 65px; } }
        @media screen and (max-width: 767px) {
          .main-slider .flexslider .text-slider .slider-des .text-title {
            font-size: 2rem; } }
        @media screen and (max-width: 479px) {
          .main-slider .flexslider .text-slider .slider-des .text-title {
            font-size: 1.2rem; } }
        .main-slider .flexslider .text-slider .slider-des .text-title ul {
          line-height: 70px; }
          @media screen and (max-width: 991px) and (min-width: 768px) {
            .main-slider .flexslider .text-slider .slider-des .text-title ul {
              line-height: 55px; } }
          @media screen and (max-width: 767px) {
            .main-slider .flexslider .text-slider .slider-des .text-title ul {
              line-height: 25px; } }
          @media screen and (max-width: 479px) {
            .main-slider .flexslider .text-slider .slider-des .text-title ul {
              line-height: 17px; } }
          .main-slider .flexslider .text-slider .slider-des .text-title ul li:nth-child(1) {
            font-weight: 100; }
          .main-slider .flexslider .text-slider .slider-des .text-title ul li:nth-child(2) {
            font-weight: 700; }
          .main-slider .flexslider .text-slider .slider-des .text-title ul li:nth-child(3) {
            font-weight: 900; }
      .main-slider .flexslider .text-slider .slider-des .text-link {
        margin-top: 55px;
        margin-left: 35px; }
        @media screen and (max-width: 991px) and (min-width: 768px) {
          .main-slider .flexslider .text-slider .slider-des .text-link {
            margin-top: 55px; } }
        @media screen and (max-width: 767px) {
          .main-slider .flexslider .text-slider .slider-des .text-link {
            margin-top: 30px; } }
        @media screen and (max-width: 479px) {
          .main-slider .flexslider .text-slider .slider-des .text-link {
            margin-top: 15px; } }
        .main-slider .flexslider .text-slider .slider-des .text-link a {
          padding: 23px 40px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.2em; }
          @media screen and (max-width: 991px) {
            .main-slider .flexslider .text-slider .slider-des .text-link a {
              padding: 16px 26px;
              letter-spacing: 0.1em; } }
          @media screen and (max-width: 767px) {
            .main-slider .flexslider .text-slider .slider-des .text-link a {
              padding: 15px 15px;
              font-weight: 600;
              font-size: 0.7rem;
              letter-spacing: 0.05em; } }
          @media screen and (max-width: 479px) {
            .main-slider .flexslider .text-slider .slider-des .text-link a {
              padding: 10px 10px;
              font-weight: 600;
              font-size: 0.5rem;
              letter-spacing: 0.05em; } }
  .main-slider .flexslider .flex-control-nav {
    display: grid;
    top: 50%;
    left: 0;
    position: absolute;
    bottom: auto;
    text-align: left;
    z-index: 10; }
  .main-slider .flexslider .flex-control-paging li {
    display: inline-block;
    padding: 5px 10px; }
    @media screen and (max-width: 767px) {
      .main-slider .flexslider .flex-control-paging li {
        padding: 2px 22px; } }
    @media screen and (max-width: 479px) {
      .main-slider .flexslider .flex-control-paging li {
        padding: 2px 12px; } }
    .main-slider .flexslider .flex-control-paging li a {
      background-color: #FEFEFE; }
      @media screen and (max-width: 767px) {
        .main-slider .flexslider .flex-control-paging li a {
          width: 5px;
          height: 5px; } }
  .main-slider .flexslider .flex-active {
    background-color: #A14C6E !important; }

/* end of Main slider section */
.footer {
  padding: 40px 0;
  background-color: #333333;
  color: #919899;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../images/texture.png); }
  .footer .logo-footer {
    text-align: center; }
  .footer .block-views-blocknews-and-events-slider-block-2 {
    text-align: center;
    margin-bottom: 30px; }
    .footer .block-views-blocknews-and-events-slider-block-2 h2 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 15px;
      position: relative;
      color: #ffffff; }
    .footer .block-views-blocknews-and-events-slider-block-2 .event-footer {
      /* margin: 20px 0; */ }
      .footer .block-views-blocknews-and-events-slider-block-2 .event-footer .news-title {
        padding: 10px 0; }
      .footer .block-views-blocknews-and-events-slider-block-2 .event-footer .new-des {
        display: flex;
        align-items: center;
        justify-content: center; }
        .footer .block-views-blocknews-and-events-slider-block-2 .event-footer .new-des div {
          margin: 0 11px;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700; }
          @media screen and (max-width: 991px) {
            .footer .block-views-blocknews-and-events-slider-block-2 .event-footer .new-des div {
              margin: 0 10px; } }
        .footer .block-views-blocknews-and-events-slider-block-2 .event-footer .new-des i {
          font-family: 'FontAwesome';
          color: #9A354B;
          padding-right: 3px; }
  .footer .footer-mid {
    text-align: center; }
    .footer .footer-mid #block-footercotactus h3 {
      color: #ffffff;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 25px;
      margin-top: 10px;
      text-transform: uppercase;
      line-height: 30px; }
    .footer .footer-mid #block-footercotactus .footer-add {
      color: #ffffff;
      letter-spacing: 0.2em;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 30px; }
      .footer .footer-mid #block-footercotactus .footer-add a {
        color: #FAB92E; }
    .footer .footer-mid #block-footercotactus .footer-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0; }
      .footer .footer-mid #block-footercotactus .footer-icon li a {
        margin-right: 10px;
        text-decoration: none;
        margin-bottom: 4px;
        margin-top: 15px; }
      .footer .footer-mid #block-footercotactus .footer-icon li a.fa-facebook-f {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        padding: 10px 13px;
        color: #507CBD; }
        .footer .footer-mid #block-footercotactus .footer-icon li a.fa-facebook-f:hover {
          background-color: #507cbe;
          color: #ffffff; }
      .footer .footer-mid #block-footercotactus .footer-icon li a.fa-twitter {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        padding: 10px 10px;
        color: #2BB3F0; }
        .footer .footer-mid #block-footercotactus .footer-icon li a.fa-twitter:hover {
          background-color: #00abef;
          color: #ffffff; }
      .footer .footer-mid #block-footercotactus .footer-icon li a.fa-google {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        padding: 10px 10px;
        color: #D73825; }
        .footer .footer-mid #block-footercotactus .footer-icon li a.fa-google:hover {
          background-color: #D73825;
          color: #ffffff; }
      .footer .footer-mid #block-footercotactus .footer-icon li a.fa-linkedin-in {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        padding: 10px 10px;
        color: #668FC7; }
        .footer .footer-mid #block-footercotactus .footer-icon li a.fa-linkedin-in:hover {
          background-color: #668FC7;
          color: #ffffff; }
      .footer .footer-mid #block-footercotactus .footer-icon li a.fa-youtube {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        padding: 10px 10px;
        color: #D23523; }
        .footer .footer-mid #block-footercotactus .footer-icon li a.fa-youtube:hover {
          background-color: #D23523;
          color: #ffffff; }
      .footer .footer-mid #block-footercotactus .footer-icon li span {
        display: none; }
  .footer .news-letter #block-webform-3 h2 {
    /* margin: 90px 0; */
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
    color: #ffffff; }
  .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block {
    position: relative; }
    .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block .js-form-type-email input[type=email] {
      width: 100%;
      border-radius: 33px;
      border: none;
      padding: 6px 8px; }
      .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block .js-form-type-email input[type=email]::placeholder {
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 20px; }
    .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block .js-form-type-email .field-suffix {
      position: absolute;
      top: 6px;
      right: 20px; }
      .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block .js-form-type-email .field-suffix i {
        font-family: 'FontAwesome';
        color: #C03C57; }
    .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block .form-input-field {
      position: absolute;
      top: -10px;
      right: 15px; }
      .footer .news-letter .webform-submission-newsletter-form .newsletter-form-block .form-input-field .form-actions input[type=submit] {
        background: transparent;
        border: none;
        color: transparent; }

.footer-bottom {
  background-color: #ffffff;
  color: #808080; }
  .footer-bottom .footer-text {
    margin: 30px 0;
    letter-spacing: 0.3rem;
    font-weight: 600; }

/* Start Mid Bit Section */
.bitcoin-section {
  background-image: url(../images/about.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .bitcoin-section {
      background-position: right;
      background-repeat: no-repeat; } }
  .bitcoin-section .bit-main {
    padding: 125px 0; }
    @media screen and (max-width: 479px) {
      .bitcoin-section .bit-main {
        padding: 60px 0; } }
    .bitcoin-section .bit-main .bit-content {
      display: flex;
      justify-content: flex-end; }
      .bitcoin-section .bit-main .bit-content .bit-des {
        padding: 0 25px; }
        @media screen and (max-width: 767px) {
          .bitcoin-section .bit-main .bit-content .bit-des {
            padding: 0; } }
        .bitcoin-section .bit-main .bit-content .bit-des h6 {
          color: #BE3A53;
          font-weight: 600;
          font-size: 14px; }
        .bitcoin-section .bit-main .bit-content .bit-des h2 {
          font-size: 48px;
          margin-bottom: 30px;
          position: relative;
          word-wrap: break-word;
          line-height: 0.85;
          font-weight: 600; }
        .bitcoin-section .bit-main .bit-content .bit-des p {
          margin-bottom: 15px;
          color: #808080;
          line-height: 30px; }
        .bitcoin-section .bit-main .bit-content .bit-des .mar_50 {
          margin-top: 50px; }
          .bitcoin-section .bit-main .bit-content .bit-des .mar_50 a {
            padding: 19px 40px;
            letter-spacing: 0.2em;
            border-radius: 33px;
            text-transform: uppercase;
            font-weight: 500; }

/* End of MId Bit Section */
/* Start Simple Info Block 2 */
.second-info {
  max-width: 100%;
  height: auto;
  padding: 150px 0 130px 0;
  background: #F6F6F8; }
  .second-info .simple-main {
    display: flex;
    align-items: center;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .second-info .simple-main {
        display: block; } }
    .second-info .simple-main .simple-verify {
      padding: 0 15px; }
      @media screen and (max-width: 767px) {
        .second-info .simple-main .simple-verify {
          padding: 20px 0; } }
      .second-info .simple-main .simple-verify .verify-icon {
        display: inline-block;
        border-radius: 50%;
        border: 2px dashed #E2E4E5;
        font-size: 30px;
        width: 170px;
        height: 170px;
        position: relative; }
        .second-info .simple-main .simple-verify .verify-icon i {
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          position: absolute; }
        .second-info .simple-main .simple-verify .verify-icon .fa-user {
          color: #BE3A53; }
        .second-info .simple-main .simple-verify .verify-icon .fa-money-bill-wave {
          color: #F4856C; }
        .second-info .simple-main .simple-verify .verify-icon .fa-paper-plane {
          color: #F9B82E; }
      .second-info .simple-main .simple-verify .verify-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 33px; }
      .second-info .simple-main .simple-verify .verify-des {
        color: #808080; }

/* End of Simple Info Block 2 */
/* Testimonial Slider Start Here */
.testimonial-slider {
  text-align: -webkit-center;
  padding: 150px 0 130px; }
  .testimonial-slider #testimonial {
    margin: 0 0 35px; }
    .testimonial-slider #testimonial .slides li .test-profile {
      position: relative;
      width: 250px;
      height: 250px; }
      .testimonial-slider #testimonial .slides li .test-profile img {
        width: 250px;
        height: 250px;
        border-radius: 50%; }
      .testimonial-slider #testimonial .slides li .test-profile i {
        transform: translate(-50%, -50%);
        position: absolute;
        right: -20px;
        padding: 12px;
        font-size: 30px;
        bottom: -10px;
        background-color: #F9B92E;
        color: white;
        border-radius: 50%;
        width: 55px;
        height: 55px; }
    .testimonial-slider #testimonial .slides .test-first {
      color: #BE3A53;
      display: block;
      padding-top: 25px;
      font-weight: 600;
      text-transform: uppercase; }
    .testimonial-slider #testimonial .slides .test-last {
      font-size: 35px; }
    .testimonial-slider #testimonial .slides p {
      color: #A2A2A2;
      font-style: italic;
      font-size: 18px; }
    .testimonial-slider #testimonial .flex-active {
      background-color: #A14C6E !important; }

/* Testimonial Slider End Here */
/* Currency Calculator start here */
.currency-section {
  background-image: url(../images/calculator.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .currency-section .form-section {
    padding: 125px 0 130px 0; }
    @media screen and (max-width: 767px) {
      .currency-section .form-section {
        padding: 75px 0; } }
    .currency-section .form-section .webform-flexbox {
      align-items: center; }
    .currency-section .form-section #edit-heading-text .head-bit {
      color: #BE3A53;
      text-transform: uppercase;
      font-weight: 600; }
    .currency-section .form-section #edit-heading-text h2 {
      font-weight: 600; }
    .currency-section .form-section #edit-heading-text .des-bit {
      color: #FEFEFE; }
    .currency-section .form-section .bit-input input[type=text] {
      border-radius: 33px;
      padding: 10px;
      border: 0;
      width: 100%; }
      .currency-section .form-section .bit-input input[type=text]::placeholder {
        color: black; }
    .currency-section .form-section .bit-input select {
      border-radius: 33px;
      padding: 10px;
      border: 0;
      width: 100%;
      font-size: 14px; }
      @media screen and (max-width: 767px) {
        .currency-section .form-section .bit-input select option {
          border-radius: 33px;
          padding: 10px;
          border: 0;
          width: 100%;
          font-size: 14px; } }
    .currency-section .form-section .form-actions input[type=submit] {
      border: 0;
      display: inline-block;
      height: auto;
      padding: 13px 40px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-top: 20px; }

/* currency calculator end here */
/* Service Section Start Here */
.service-section {
  background-image: url(../images/advantages.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 991px) {
    .service-section {
      background: #F6F6F8; } }
  .service-section .service-content {
    padding: 200px 0 130px; }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      .service-section .service-content {
        padding: 145px 0; } }
    .service-section .service-content .row:nth-child(1) .service-col:nth-child(1) {
      margin-left: 5%; }
      @media screen and (max-width: 991px) {
        .service-section .service-content .row:nth-child(1) .service-col:nth-child(1) {
          margin-left: 0; } }
    .service-section .service-content .row:nth-child(1) .service-col:nth-child(2) {
      margin-left: 40%; }
      @media screen and (max-width: 991px) {
        .service-section .service-content .row:nth-child(1) .service-col:nth-child(2) {
          margin-left: 0; } }
    .service-section .service-content .row:nth-child(2) .service-col:nth-child(1) {
      text-align: -webkit-center; }
      @media screen and (max-width: 991px) {
        .service-section .service-content .row:nth-child(2) .service-col:nth-child(1) {
          margin-left: 0; } }
    .service-section .service-content .row:nth-child(2) .service-col:nth-child(2) {
      text-align: -webkit-center;
      margin-left: 50%; }
      @media screen and (max-width: 991px) {
        .service-section .service-content .row:nth-child(2) .service-col:nth-child(2) {
          margin-left: 0; } }
    .service-section .service-content .row:nth-child(3) .service-col:nth-child(1) {
      margin-left: 5%; }
      @media screen and (max-width: 991px) {
        .service-section .service-content .row:nth-child(3) .service-col:nth-child(1) {
          margin-left: 0; } }
    .service-section .service-content .row:nth-child(3) .service-col:nth-child(2) {
      margin-left: 42%; }
      @media screen and (max-width: 991px) {
        .service-section .service-content .row:nth-child(3) .service-col:nth-child(2) {
          margin-left: 0; } }
    .service-section .service-content .row .main-service {
      text-align: center;
      padding: 8px 0;
      margin-right: auto;
      margin-left: auto; }
      .service-section .service-content .row .main-service .img-service img {
        width: 15%; }
      .service-section .service-content .row .main-service .service-title {
        font-weight: 600;
        margin-top: 0.6em;
        margin-bottom: 0.3em;
        font-size: 24px; }
      .service-section .service-content .row .main-service .service-des {
        font-size: 16px;
        color: #888787; }

/* Service Section End Here */
/* News & Event Section Start Here */
.news-event {
  padding: 85px; }
  @media screen and (max-width: 767px) {
    .news-event {
      padding: 0 15px;
      margin: 60px 0; } }
  .news-event .blog-heading {
    text-align: center;
    color: #BE3A53;
    font-weight: 600;
    text-transform: uppercase; }
  .news-event #block-views-block-news-and-events-slider-block-1 h2 {
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px; }
  .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content {
    padding-top: 60px; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-stage-outer {
      position: relative; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-nav {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      -webkit-tap-highlight-color: transparent; }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-nav::before {
        content: "";
        width: 2px;
        height: 11px;
        position: absolute;
        background-color: #808080;
        top: 9px;
        left: calc(50% - 2px); }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-nav button.disabled div {
        pointer-events: none;
        opacity: 0.5;
        cursor: default; }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-nav button div {
        position: static;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #808080;
        width: auto;
        padding: 5px 30px; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-stage-outer .owl-stage .owl-item:nth-child(3n-2) .views-row .news-events-block .fontawesome-icons i {
      color: #FCF3F4;
      display: inline-block;
      background: #BE3A53;
      border-radius: 50%;
      padding: 15px; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-stage-outer .owl-stage .owl-item:nth-child(3n-1) .views-row .news-events-block .fontawesome-icons i {
      color: #FCF3F4;
      display: inline-block;
      background: #F4886F;
      border-radius: 50%;
      padding: 15px; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .owl-stage-outer .owl-stage .owl-item:nth-child(3n-3) .views-row .news-events-block .fontawesome-icons i {
      color: #FCF3F4;
      display: inline-block;
      background: #F9B92E;
      border-radius: 50%;
      padding: 15px; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .card-header {
      position: relative;
      border: none; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .fontawesome-icons {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .card-body .card-title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .card-body p {
      color: #8B8B8B;
      font-size: 14px;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      height: 90px;
      -webkit-line-clamp: 3;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text {
      display: flex;
      border-top: 1px solid #e5e5e5;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text > div + div {
        border-left: 1px solid #e5e5e5; }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text > div:nth-child(1) {
        padding: 0 12px; }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text > div:nth-child(3) {
        padding: 0 20px; }
      .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text div {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-height: 80px;
        justify-content: center; }
        .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text div * {
          position: relative;
          z-index: 2; }
        .news-event #block-views-block-news-and-events-slider-block-1 .view-news-and-events-slider .view-content .news-events-block .footer-text div .bg-text {
          position: absolute;
          font-size: 48px;
          font-weight: 900;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.08;
          z-index: 1; }

/* News and Event End here */
/* Contact Us Section Start Here */
.contact-us {
  background-image: url("../images/contact.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 120px 0; }
  .contact-us .contact-form .contactus-heading {
    text-align: center;
    color: #BE3A53;
    font-weight: 600;
    text-transform: uppercase; }
  .contact-us .contact-form .region-contact-us #block-webform-2 h2 {
    text-align: center;
    font-weight: 600; }
  .contact-us .contact-form .region-contact-us #block-webform-2 .webform-ajax-form-wrapper form .contact-main .contact-us-form-block .form-input-field .js-form-item input {
    width: 100%;
    border: none;
    padding: 6px 8px;
    border-radius: 33px;
    margin-top: 0;
    font-size: 16px; }
    .contact-us .contact-form .region-contact-us #block-webform-2 .webform-ajax-form-wrapper form .contact-main .contact-us-form-block .form-input-field .js-form-item input::placeholder {
      text-align: center;
      font-weight: 600; }
  .contact-us .contact-form .region-contact-us #block-webform-2 .webform-ajax-form-wrapper form .contact-main .contact-us-form-block .form-input-summary .js-form-type-textarea .form-textarea-wrapper textarea {
    width: 100%;
    border: none;
    padding: 6px 8px;
    border-radius: 15px;
    margin-top: 0;
    font-size: 16px; }
    .contact-us .contact-form .region-contact-us #block-webform-2 .webform-ajax-form-wrapper form .contact-main .contact-us-form-block .form-input-summary .js-form-type-textarea .form-textarea-wrapper textarea::placeholder {
      text-align: center;
      font-weight: 600; }
  .contact-us .contact-form .region-contact-us #block-webform-2 .webform-ajax-form-wrapper .send-now-button .form-actions {
    text-align: center; }
    .contact-us .contact-form .region-contact-us #block-webform-2 .webform-ajax-form-wrapper .send-now-button .form-actions input[type=submit] {
      background-color: #BE3A53;
      border: none;
      border-radius: 33px;
      padding: 12px 40px;
      color: #FAF9F9;
      font-weight: 600;
      margin-top: 10px; }

/* Contact Us Section End Here */
/* Footer Slider Start here */
.footer-slider .footer-pad {
  padding: 50px 50px; }
  .footer-slider .footer-pad .block-views-blockfooter-banner-block-1 .view-footer-banner .view-content a img {
    opacity: 0.2;
    width: auto; }
    .footer-slider .footer-pad .block-views-blockfooter-banner-block-1 .view-footer-banner .view-content a img:hover {
      opacity: 1; }
  .footer-slider .footer-pad .block-views-blockfooter-banner-block-1 .view-footer-banner .view-content .center a img {
    opacity: 1;
    width: auto; }

/* Footer Slider End here */
/* Scroll Top Footer Icon Start here */
.scrollTop {
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  text-decoration: none;
  z-index: 9999;
  font-size: 0;
  color: #ffffff;
  background: #fab915;
  border-radius: 25px; }
  .scrollTop::after {
    color: #ffffff;
    content: '\f106';
    font-size: 16px;
    line-height: 50px;
    font-family: FontAwesome;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s linear; }

/* Scroll Top Footer Icon End here */
/* This CSS for Workbook Exercise 7 */
.featured-top {
  background: linear-gradient(-90deg, #fab915, #bf3654) no-repeat;
  height: 200px;
  margin-bottom: 100px; }
  .featured-top .featured-top__inner {
    position: relative; }
    .featured-top .featured-top__inner #block-training-page-title {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 45px;
      left: 50%;
      bottom: 0; }
      .featured-top .featured-top__inner #block-training-page-title .page-title {
        color: #ffffff; }
    .featured-top .featured-top__inner #block-training-breadcrumbs {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 130px;
      left: 50%;
      bottom: 0; }

.content-section {
  min-height: 400px;
  margin-bottom: 50px; }
  .content-section .main-content #block-training-content .left {
    display: flex; }
    .content-section .main-content #block-training-content .left .page-child {
      flex: 1; }
  .content-section .main-content #block-training-content .right {
    display: flex;
    flex-direction: row-reverse; }
    .content-section .main-content #block-training-content .right .page-child {
      flex: 1; }

/* This CSS for Workbook Exercise 7 */
